body {
    background-color: lightblue;
}

Nav {
    text-transform: uppercase; 
    font-family: PT Sans Narrow
}

.nav-link {
    opacity: 0.7;
}
.nav-link:hover {
    opacity: 1;
    background-color: #eee !important;
}
header {
    /*sizing of the element*/
    height: headerimagepx;  
    width: 100%;
    /*set and adjust background image*/
    background-image: url("headerimage.jpg");
    background-size:cover;
}

